.todo {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-content: start;
  cursor: pointer;

  > span {
    color: var(--secondary-grey);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
  }

  .completedTodoText {
    opacity: 0.5;
    text-decoration: line-through;
  }
}
