.main {
  max-width: 800px;
  width: 100%;
  height: 500px;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  padding: 16px;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.todoList {
  margin: 16px 0;
  border-top: 1px solid var(--primary-grey);
  border-bottom: 1px solid var(--primary-grey);
  overflow-y: auto;
  display: grid;
  grid-auto-flow: row;
  align-content: start;

  > button {
    border-bottom: 1px solid var(--light-grey);
    padding: 8px 0;

    &:last-child {
      border-bottom: none;
    }
  }
}

.footer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-items: center;
  align-items: center;

  > span {
    color: var(--secondary-grey);
  }
}
