.wrapper {
  display: grid;
  grid-template-columns: 4fr minmax(min-content, 1fr);
  align-items: stretch;
  align-content: stretch;
  gap: 16px;

  @media (max-width: 480px) {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    gap: 8px;
  }
}
